@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --base-color: hsl(0, 0%, 100%);
    --text-color: #000000;
    --primary-color: #7090b6;
    --secondary-color: #d1e2ec;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:'Montserrat';
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

h1,h2,h3 {
    font-family: 'Anta';
    text-shadow: 2px 4px 8px rgba(0,0,0,0.35);
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%)
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;

}
nav li :first-child {
    margin-right: auto;
    font-family: 'Anta';
}

nav a {
    text-decoration: none;
    color: var(--text-color)
}

nav a:hover {
    filter: drop-shadow(3px 6px 12px rgba(0, 0, 0, 0.35));
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-image: linear-gradient(#7090b6 1%, #7992aa 100%);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.rounded-image {
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;

}

header img {
    max-width: 100%;
}

.text-container {
    flex: 0 1 34em;
}

.cta-button {
    display: inline-block;
    color: white;
    background-image: radial-gradient(rgba(112, 144, 182, 5) 1%, rgba(209, 226, 236, 5) 100%);
    padding: 0.65em 1.25em;
    border-radius: .5em;
    filter: drop-shadow(1px 2px 8px rgba(0, 0, 0, 0.35));
    text-decoration: none;
    backdrop-filter: blur(10px);
}